[main]
Description=BLRVPN
Host=121.240.128.58
AuthType=1
GroupName=Tavant-Bangalore
GroupPwd=
enc_GroupPwd=51C858C7CD4D5A5D45DD18E2A50AEF4861DC6A363DA71A6350AEAA40A412A0E288585CE14695FFB4C6BAF1FBB63C03523B01D604D15814E5
EnableISPConnect=0
ISPConnectType=0
ISPConnect=TATA Photon Max
ISPPhonebook=C:\ProgramData\Microsoft\Network\Connections\Pbk\rasphone.pbk
ISPCommand=
Username=padmapriya.n
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
